<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Madlibs</h1>

    <form action="/story" method="POST">
      <p>Noun: <input name="noun"></p>
      <p>Verb: <input name="verb"></p>
      <p>Adjective: <input name="adjective"></p>
      <p>Noun 2: <input name="noun-2"></p>
      <button>Tell Me A Story</button>
    </form>

</body>
</html>